{% extends 'user/allpage1.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Compare</title>
    <!--/google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!--/Template-CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
    <!--//Template-CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->

    <style>
        input[type="text"] {
            
            width: 150px;
            height:50px;
            border-radius: 10px;
            border: 1px solid orangered;

        }
        img{
            width:200px;
            height:200px;
        }
        th{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        td{
            padding: 10px;
        }
        ::placeholder{
            text-align: center;
            font: 1em sans-serif;
        }
    </style>

</head>

<body>
    <h2 class="inner-w3-title mt-lg-5 mt-4" style="color: black; text-align: center;">
        Compare and Write the Greater Number  :</h2>
    <br><br>
    <div class="container">
        <form method="post">
            {% csrf_token %}

            <!-- ======================================= -->
            <!-- <div class="row">
                <div class="col-4">
                    <label for="am"> am</label>
                </div>
                <div class="col-4">
                    <input type="radio" id="am" name="q1" value="1" class="coer">
                </div>
                <div class="col-4">
                    <input type="radio" id="am" name="q1" value="0" class="icoer">
                </div>
            </div> -->
            <table cellpadding="5px" style="width: 50%; border: 1px solid cadetblue; border-radius: 10px; text-align: center;" align="center">
                <tr>
                    <th>Question</th>
                    <th>Answer Here</th>
                </tr>
                <tr>
                    <td ><h1 style="font-size: 40px;">6 or 9</h1></td>
                    <td ><input type="text" required name="q1"placeholder="Answer here" autofocus ></td>
                </tr>
                
                
            </table>
<br><br>

            
            <!-- ================================================== -->
            <!-- ======================================= -->
            <table cellpadding="5px" style="width: 50%; border: 1px solid cadetblue; border-radius: 10px; text-align: center;" align="center">
                <tr>
                    <th>Question</th>
                    <th>Answer Here</th>
                </tr>
                <tr>
                    <td ><h1 style="font-size: 40px;">12 or 21</h1></td>
                    <td ><input type="text" required name="q2"placeholder="Answer here" autofocus ></td>
                </tr>
                
                
            </table>
<br><br>

            
            <!-- ================================================== -->
            <!-- ======================================= -->
            <table cellpadding="5px" style="width: 50%; border: 1px solid cadetblue; border-radius: 10px; text-align: center;" align="center">
                <tr>
                    <th>Question</th>
                    <th>Answer Here</th>
                </tr>
                <tr>
                    <td ><h1 style="font-size: 40px;">0 or 5</h1></td>
                    <td ><input type="text" required name="q3"placeholder="Answer here" autofocus ></td>
                </tr>
                
                
            </table>
<br>
                 
            <!-- ================================================== -->
            <!-- ======================================= -->
            <table cellpadding="5px" style="width: 50%; border: 1px solid cadetblue; border-radius: 10px; text-align: center;" align="center">
                <tr>
                    <th>Question</th>
                    <th>Answer Here</th>
                </tr>
                <tr>
                    <td ><img src="{% static 'assets/images/coincompare.png'%}" alt=""></td>
                    <td ><input type="text" required  name="q4"placeholder="Answer here" autofocus ></td>
                </tr>
                
                
            </table>
<br>

              <!-- ================================================== -->
            <!-- ======================================= -->
            <table cellpadding="5px" style="width: 50%; border: 1px solid cadetblue; border-radius: 10px; text-align: center;" align="center">
                <tr>
                    <th>Question</th>
                    <th>Answer Here</th>
                </tr>
                <tr>
                    <td ><h1 style="font-size: 40px;">81 or 18</h1></td>
                    <td ><input type="text" required name="q5"placeholder="Answer here" autofocus ></td>
                </tr>
                
                
            </table>
<br>
            <br><br>

           
            <input type="Submit" value="Submit" class="btn search-btn btn-primary" style="margin-left: 500px; width: 100px; height: 50px;">
        </form>
    </div><br><br>
    <footer class="w3l-footer">
        <div class="w3l-footer-16 py-5">
            <div class="container py-md-5 py-3 pb-0">
                <div class="row footer-p right-side">
                    <div class="col-lg-4 col-md-6 pe-lg-5">
                        <h2 class="footerw3l-logo"><a class="navbar-brand" href="index.html">
                                <span class="w3yellow">HOP</span> SCOTCH
                            </a></h2>
                        <!-- <p class="mt-3">Lorem ipsum dolor sit, amet consectetur elit. Earum mollitia ipsam autem ipsam.dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p> -->
                        <div class="columns-2 mt-lg-5 mt-4">
                            <ul class="social">
                                <li><a href="#facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="#linkedin"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li><a href="#twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li><a href="#google"><i class="fab fa-google-plus-g"></i></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-lg-0 mt-5">
                        <div class="row">
                            <div class="col-xl-5 col-6 column">
                                <h3>Links</h3>
                                <ul class="footer-gd-16">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>

                                    <li><a href="about.html">Team</a></li>
                                    <li><a href="#blog">Blog Posts</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-6 column">
                                <h3>Services</h3>
                                <ul class="footer-gd-16">

                                    <li><a href="#care">
                                            Teacher's Questionnaire</a></li>
                                    <li><a href="#meal">Student's Questionnaire</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
    </footer>
    <!-- //footer -->

    <!-- Js scripts -->
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fas fa-arrow-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

    </script>
    <!-- //move top -->
    <!--//footer-9 -->
    <!-- Template JavaScript -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/theme-change.js' %}"></script>

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!-- //bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    
</body>

</html>

{% endblock %}